/board/bbb/cache
/board/bbb/sstate-cache
/board/bbb/tmp
/board/bbb/tmp-glibc
/downloads
# !/board/bbb/conf/
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
contrib/oe-stylize.py
contrib/pw-am.sh
contrib/tesseract-langs.sh
board/rpi/cache/bb_persist_data.sqlite3
board/rpi/cache/hashserv.db
board/rpi/cache/hashserv.db-shm
board/rpi/cache/hashserv.db-wal
board/rpi/tmp/hosttools/[
board/rpi/tmp/hosttools/ar
board/rpi/tmp/hosttools/as
board/rpi/tmp/hosttools/awk
board/rpi/tmp/hosttools/basename
board/rpi/tmp/*
board/rpi/tmp/hosttools/bzip2
board/rpi/tmp/hosttools/cat
board/rpi/tmp/hosttools/chgrp
board/rpi/tmp/hosttools/chmod
board/rpi/tmp/hosttools/chown
board/rpi/tmp/hosttools/chrpath
board/rpi/tmp/hosttools/cmp
board/rpi/tmp/hosttools/comm
board/rpi/tmp/hosttools/cp
board/rpi/tmp/hosttools/cpio
board/rpi/tmp/hosttools/cpp
board/rpi/tmp/hosttools/cut
board/rpi/tmp/hosttools/date
board/rpi/tmp/hosttools/dd
board/rpi/tmp/hosttools/diff
board/rpi/tmp/hosttools/diffstat
board/rpi/tmp/hosttools/dirname
board/rpi/tmp/hosttools/du
board/rpi/tmp/hosttools/echo
board/rpi/tmp/hosttools/egrep
board/rpi/tmp/hosttools/env
board/rpi/tmp/hosttools/expand
board/rpi/tmp/hosttools/expr
board/rpi/tmp/hosttools/false
board/rpi/tmp/hosttools/fgrep
board/rpi/tmp/hosttools/file
board/rpi/tmp/hosttools/find
board/rpi/tmp/hosttools/flock
board/rpi/tmp/hosttools/g++
board/rpi/tmp/hosttools/gawk
board/rpi/tmp/hosttools/gcc
board/rpi/tmp/hosttools/gcc-ar
board/rpi/tmp/hosttools/getconf
board/rpi/tmp/hosttools/getopt
board/rpi/tmp/hosttools/git
board/rpi/tmp/hosttools/gpg
board/rpi/tmp/hosttools/gpg-agent
board/rpi/tmp/hosttools/grep
board/rpi/tmp/hosttools/gunzip
board/rpi/tmp/hosttools/gzip
board/rpi/tmp/hosttools/head
board/rpi/tmp/hosttools/hostname
board/rpi/tmp/hosttools/iconv
board/rpi/tmp/hosttools/id
board/rpi/tmp/hosttools/install
board/rpi/tmp/hosttools/join
board/rpi/tmp/hosttools/ld
board/rpi/tmp/hosttools/ld.bfd
board/rpi/tmp/hosttools/ld.gold
board/rpi/tmp/hosttools/ldd
board/rpi/tmp/hosttools/ln
board/rpi/tmp/hosttools/ls
board/rpi/tmp/hosttools/make
board/rpi/tmp/hosttools/md5sum
board/rpi/tmp/hosttools/mkdir
board/rpi/tmp/hosttools/mknod
board/rpi/tmp/hosttools/mktemp
board/rpi/tmp/hosttools/mv
board/rpi/tmp/hosttools/nc
board/rpi/tmp/hosttools/nl
board/rpi/tmp/hosttools/nm
board/rpi/tmp/hosttools/objcopy
board/rpi/tmp/hosttools/objdump
board/rpi/tmp/hosttools/od
board/rpi/tmp/hosttools/patch
board/rpi/tmp/hosttools/perl
board/rpi/tmp/hosttools/pr
board/rpi/tmp/hosttools/printf
board/rpi/tmp/hosttools/pwd
board/rpi/tmp/hosttools/python3
board/rpi/tmp/hosttools/ranlib
board/rpi/tmp/hosttools/readelf
board/rpi/tmp/hosttools/readlink
board/rpi/tmp/hosttools/realpath
board/rpi/tmp/hosttools/rm
board/rpi/tmp/hosttools/rmdir
board/rpi/tmp/hosttools/rpcgen
board/rpi/tmp/hosttools/scp
board/rpi/tmp/hosttools/sed
board/rpi/tmp/hosttools/seq
board/rpi/tmp/hosttools/sftp
board/rpi/tmp/hosttools/sh
board/rpi/tmp/hosttools/sha1sum
board/rpi/tmp/hosttools/sha224sum
board/rpi/tmp/hosttools/sha256sum
board/rpi/tmp/hosttools/sha384sum
board/rpi/tmp/hosttools/sha512sum
board/rpi/tmp/hosttools/size
board/rpi/tmp/hosttools/sleep
board/rpi/tmp/hosttools/socat
board/rpi/tmp/hosttools/sort
board/rpi/tmp/hosttools/split
board/rpi/tmp/hosttools/ssh
board/rpi/tmp/hosttools/stat
board/rpi/tmp/hosttools/strings
board/rpi/tmp/hosttools/strip
board/rpi/tmp/hosttools/sudo
board/rpi/tmp/hosttools/tail
board/rpi/tmp/hosttools/tar
board/rpi/tmp/hosttools/tee
board/rpi/tmp/hosttools/test
board/rpi/tmp/hosttools/touch
board/rpi/tmp/hosttools/tr
board/rpi/tmp/hosttools/true
board/rpi/tmp/hosttools/uname
board/rpi/tmp/hosttools/uniq
board/rpi/tmp/hosttools/wc
board/rpi/tmp/hosttools/wget
board/rpi/tmp/hosttools/which
board/rpi/tmp/hosttools/xargs
board/rpi/tmp/hosttools/yes
board/rpi/tmp/hosttools/zcat
board/rpi/tmp/hosttools/[
board/rpi/tmp/hosttools/[
board/rpi/tmp/hosttools/[
board/rpi/bitbake-cookerdaemon.log
board/bbb/foo.err
.gitignore
